# POSTGRES information here
PG_HOST=127.0.0.1
PG_DB=POSTGRES_DATABASE_NAME
PG_TEST_DB=UNIT_TEST_POSTGRES_DATABASE_NAME_HERE
PG_USER=POSTGRES_DATABASE_USERNAME_HERE
PG_PASSWORD=POSTGRES_DATABASE_PASSWORD_HERE
# user crypt here
BCRYPT_PASSWORD=PEPPER_PASSWORD_HERE
TOKEN_SECRET=JWT_SECRET_HERE
SALT_ROUNDS=10
# env mode here
ENV=dev
